body {
	font-family: 'Roboto',sans-serif;
	background: rgb(250,160,160);
	padding: 0 0 0 10px;
}

input[name="Inicio"] {
	width: 5%;
	height: 30px;
	background: yellow;
	font-family: 'Roboto',sans-serif;
	border-radius: 15px;
}

input[name="Atrás"] {
	width: 5%;
	height: 30px;
	background: red;
	font-family: 'Roboto',sans-serif;
	border-radius: 15px;
}

footer {
	padding: 25px 0 0 5px;
}

h1,footer {
	color: beige;
	font-weight:bold;
}

.linea {
	border-top: 1px solid grey;
	height: 2px;
	padding: 0;
	margin: 5px auto 15px auto;
}
